<div class="grid grid-nogutter surface-section text-800">
  <div
    class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center"
  >
    <section>
      <span class="block text-6xl font-bold mb-1">Create the screens</span>
      <div class="text-6xl text-primary font-bold mb-3">
        your visitors deserve to see
      </div>
      <p class="mt-0 mb-4 text-700 line-height-3">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>

      <button
        pButton
        pRipple
        label="Learn More"
        type="button"
        class="mr-3 p-button-raised"
      ></button>
      <button
        pButton
        pRipple
        label="Live Demo"
        type="button"
        class="p-button-outlined"
      ></button>
    </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
    <img
      src="https://img.freepik.com/free-photo/male-astronaut-exploring-night-space-mission-unknown-planet_23-2149240628.jpg?t=st=1724575944~exp=1724579544~hmac=22e42a0350a9e9866dadba9b1288a7d934d52c94f85d5130deaac1495304bce1&w=1380"
      alt="Image"
      class="md:ml-auto block md:h-full space"
      style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)"
    />
  </div>
</div>

<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
  <div class="text-700 text-center">
    <div class="text-blue-600 font-bold mb-3">
      <i class="pi pi-discord"></i>&nbsp;POWERED BY DISCORD
    </div>
    <div class="text-900 font-bold text-5xl mb-3">
      Join Our Design Community
    </div>
    <div class="text-700 text-2xl mb-5">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit numquam
      eligendi quos.
    </div>
    <button
      pButton
      pRipple
      label="Join Now"
      icon="pi pi-discord"
      class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap"
    ></button>
  </div>
</div>
